.contact__form
  = form_for(message,url: {controller: "main", action: "done"}) do |f|
    .contact__form__input
      %p= f.text_field :name, placeholder: 'Name'
      %i.fa.fa-user.fa-lg.fa-fw
    .contact__form__input
      %p= f.text_field :email, placeholder: 'E-Mail'
      %i.fa.fa-envelope.fa-lg.fa-fw
    .contact__form__textarea
      %p= f.text_area :content, placeholder: 'Comment'
    .contact__form__btn
      = f.hidden_field :rendering, class: "st", value: ""
      = f.submit 'Send', class: "btn"
    .contact__form__error
      = render "flash"
