.portfolio
  %header
    %ul
      %li 
        = link_to "About", "#about"
      %li
        = link_to "Works", "#works"
      %li
        = link_to "Contact", "#contact"

  .contents
    .content.main-image
      .main#main
        .main__box
          .main__box-name
            %h1 SHOKO IWASAKI
          .main__box-text
            %h2 Apprentice Engineer
    .content-about.cover
      .about#about
        .about__title About
        .about__biography
          .about__biography-name 岩崎 しょうこ / Shoko Iwasaki
          .about__biography-container
            .about__biography-container-line
              %a.l-side.sub-title 2019年― プログラミング学習開始
              %a.r-side.text-indent 技術を身につけて自分の発信力を強化したい、アイデアを形にして喜んでもらえることを仕事にしたいと考えて、4月11日から本格的にプログラミング学習に着手。現在も１日も休まずに学習を継続しています。
            .about__biography-container-line
              %a.l-side.sub-title 2015年― 塾・予備校を経営する会社に新卒入社
              %a.r-side.text-indent 塾・予備校業界で校舎運営を経験。入社後まもなく研究歴と発信力を買われ、入試情報の収集・発信業務を兼務するようになりました。現在は、情報誌の制作（進行管理・取材・ライティング・編集校正）、WEBコンテンツの作成（記事の執筆・データ収集）、イベントの実施運営(スライド制作・司会)など幅広く担当しています。とくにスライド資料は褒めていただけることが多く、作成した資料で9割以上のお客様から高評価をいただけるようになりました。「わかりやすさ」「伝わりやすさ」を考えて発信していくことが好きで、これを得意としてきました。
              %br
              %a.r-side.text-indent また、仕事の進め方に関しても、現状をより良くしていく視点と発信力が強みです。関連部署を巻き込んだ業務改善や効率化を図っており、イベント実施の役割分担案を採用してもらえたり、定例会実施のきっかけをつくったりと、抜本的な改革に貢献しました。さまざまな場面で「わかりやすくなった！」と言ってもらえることが自信になっています。
            .about__biography-container-line
              %a.l-side.sub-title.under-line Experience and Skills
              %p.r-side.text-indent HTML / CSS / JavaScript / jQuery / Vue.js(勉強中)
              %p.r-side.text-indent Ruby / Ruby on Rails / RSpec / MySQL / PostgreSQL
              %p.r-side.text-indent AWS / Heroku / GitHub / Trello / Slack
            .about__biography-container-line
              %a.l-side.sub-title.under-line Like
              %a.r-side.text-indent 食べ歩き、日本酒、料理、旅行、ゲーム、オフ会、ドラム、野球観戦、写真
              %p.note ★メインの写真は沖縄の美ら海水族館で撮影したものです。
        .about__image
          = image_tag("si01-removebg.png", alt: "Shoko Iwasaki")

    .works#works
      .works__title Works
      %ul.works__list

        %li.fadeInUp.grad-wrap
          %a.grad-trigger 日本酒レビューサイト「Sakemo!」
          .work.grad-item
            .work-image
              = image_tag("sakemo-main.png", alt: "Sakemo!")
            .work-comment
              .work-comment-article
                %h3.work-comment-title 日本酒レビューサイト「Sakemo！」
                .work__ico-github
                  %i.fa.fa-github
                  = link_to "", "https://github.com/key0123456789/Sakemo", class: "li-link", target: "blank"
                  %a GitHubソースコード
                .work-comment-content
                  %p 呑んだ日本酒の感想〈Sake * Emotion〉を直感的に入力できるアプリです。日本酒は好きだがなかなか銘柄が覚えられない…という悩みを払拭すべく、酔っぱらいでも「きろく」を残せるかどうかを念頭において作成しました。
              .work-comment-article
                %h4.work-comment-sec 特長
                .work-comment-content
                  %p.text-indent ・"お気に入り度"や"コメント"を含む、さまざまな観点で「きろく」を残すことができます。
                  %p.text-indent ・気になる銘柄は「ブックマーク」に登録して、一覧で見ることができます。
                  %p.text-indent ・初期データとして約1,900件の銘柄を用意しました。
              .work-comment-article
                %h4.work-comment-sec こだわりポイント
                .work-comment-content
                  %p.text-indent ・約1,900件の銘柄から、漢字・ひらがなで検索できるようにしました。検索結果を動的に表示し、スピーディに銘柄の詳細ページにアクセスできるようにしています。
                  %p.text-indent ・各銘柄のページは、自分の「きろく」をメインに表示する仕様にしました。「日本酒を覚えたい」という思いを叶えるために、自分だけのページを作り上げていくような感覚が持てるサイトを考案しました。
                  %p.text-indent ・「きろく」はメーター形式で表示するようにしました。どういう感想を抱いたかを視覚的にわかりやすく見せるために工夫しました。
                  %p.text-indent ・「きろく」の入力は直感的に操作しやすく、かつ、視覚的にも楽しめるようにラジオボタンに動きをつけました。呑んでいても手軽に入力できることを重要視しました。
                  %p.text-indent ・マイページでは、自分の「きろく」の一覧を見たり、ブックマークした銘柄にアクセスしたりすることができます。
                .work-comment-content.flex
                  .flex-image
                    = link_to "images/sakemo-main.png", target: "blank" do 
                      = image_tag "sakemo-main.png"
                  .flex-image
                    = link_to "images/sakemo-brand.png", target: "blank" do 
                      = image_tag "sakemo-brand.png"
                  .flex-image
                    = link_to "images/sakemo-feeling-edit.png", target: "blank" do 
                      = image_tag "sakemo-feeling-edit.png"
                  .flex-image
                    = link_to "images/sakemo-mypage.png", target: "blank" do 
                      = image_tag "sakemo-mypage.png"
              .work-comment-article
                %h4.work-comment-sec 開発の所感
                .work-comment-content
                  %p.text-indent ・はじめて検索機能＆検索結果の非同期通信を実践しました。以前は難しいと感じていたところや理解が甘い箇所も自力で補うことができました。
                  %p.text-indent ・過去の知識をもとにいろいろな機能を自力で考えられるようになり、格段に開発がスムーズになったと感じました。経験と知識を積むほど、自分のできることが増えていくのだろうと思います。いまの自分が考えられる以上のことをたくさん経験して、対応できる幅をどんどん広げていきたいです。
              .work-comment-article
                %h4.work-comment-sec 開発の状況
                .work-comment-content
                  %a.subheading 開発環境
                  %p Ruby / Ruby on Rails / MySQL / Github / Visual Studio Code
                  %a.subheading 使用したGem
                  %p ・mechanize： スクレイピング
                  %p ・gretel： パンくずリスト
                  %p ・kaminari： ページネーション
                  %p ・RSpec： テストコード
                  %p ・devise： ユーザー管理　など

        %li.fadeInUp.grad-wrap
          %a.grad-trigger フリーマケットサイト（コピー） ※チーム開発
          .work.grad-item
            .work-image
              = image_tag("freemarket_sample.png", alt: "Freemarket(clone)")
            .work-comment
              .work-comment-article
                = link_to "http://13.115.59.123/", target: "blank", class: "blank-link" do
                  %h3.work-comment-title フリーマーケットサイト（コピー）
                .work__ico-github
                  %i.fa.fa-github
                  = link_to "", "https://github.com/key0123456789/freemarket_sample_53b", class: "li-link", target: "blank"
                  %a GitHubソースコード
                .work-comment-content
                  %p 有名フリーマーケットサイトにおける商品やりとりなど一連の流れを再現しました。
                  %p スクール生でチームを組んで開発を行いました。
                .work-comment-content
                  .summary-column
                    %p ◆ BASIC認証
                    %a BASIC認証 ID：freemarket_sample_53b ／ パスワード：8480
                    %p ◆ テスト用アカウント（出品者・購入者）
                    %a メールアドレス：test1@gmail.com ／ パスワード：1234qwer
                    %p ◆ 購入用カード情報
                    %a 番号：4242424242424242 ／ 期限：10/20 ／ セキュリティコード：123
                    
              .work-comment-article
                %h4.work-comment-sec 開発の状況
                .work-comment-content
                  %a.subheading 開発環境
                  %p Ruby / Ruby on Rails / MySQL / Github / AWS / Visual Studio Code
                  %a.subheading 使用したGem
                  %p ・active_hash： ハッシュのデータの管理
                  %p ・carrierwave： 画像アップロード
                  %p ・recaptcha：画像認証機能
                  %p ・devise： ユーザー管理
                  %p ・RSpec： テストコード
                  %p ・gretel： パンくずリスト など
                  %a.subheading  開発期間と平均作業時間
                  %p 平日2.5時間、休日8時間
                  %a.subheading  開発体制
                  %p 人数5名、アジャイル型開発（スクラム）、Trelloによるタスク管理、Slack・Zoomを用いた話し合い
              .work-comment-article
                %h4.work-comment-sec こだわりポイント
                .work-comment-content.two-column
                  .two-column__left
                    %p.text-indent ・初心者ガイドを作成し、新規登録後にページ遷移するようにしました。実在するサービスに関して、「登録したけど使ってない」「何からはじめてよいかわからない」というチームメンバーの声をもとに、登録初期のアクティブ・ユーザー数を増やすための工夫として取り入れました。
                    %p.text-indent ・具体的な開発に取り掛かるまえに、DB設計と割り振りの打ち合わせを入念に行いました。一つ一つの機能を細かく切り分けて考えて、実際にサービスを使ってみたり想像したりしながら話し合いました。ここで、チームメンバーの共通認識をつくることができたため、その後の開発もコミュニケーションも円滑にいったのだと思います。
                  .two-column__right
                    = link_to "images/freemarket-guide.png", target: "blank", class: "guide-image" do 
                      = image_tag "freemarket-guide.png"
              .work-comment-article
                %h4.work-comment-sec 開発の所感
                .work-comment-content.two-column
                  .two-column__left
                    %p.text-indent ・商品出品時、商品の情報とともに複数画像の登録が行えるようになるまでに時間を要しました。時間をかけてもうまく行かず、メンターから「実装例と状況を同じにして、同じようにやってみてはどうか」というアドバイスをいただき、解決することができました。どうしても立ち行かないときに、一度離れてみたり、状況を変えてみたりすることは、今後も取り入れていこうと思いました。
                    %p.text-indent ・チームメンバーそれぞれが苦労したポイントも、密に連絡をとり、お互いに解決策を出し合いながら進められました。頼りにしてもらえたり、「楽しそうにやるよね」と言ってもらえたりすることが嬉しく、良い刺激になりました。
                    %p.text-indent ・全員がはじめてのチーム開発ながら、一番最初にDB設計や分担について綿密に話し合いをしたことで、共通認識をもってそれぞれが作業に取り掛かることができました。今後も、スタートは大切にしていきたいと思いました。
                  .two-column__right
                    .slider
                      .button.button-prev.prev
                        %i.fa.fa-chevron-left
                      .button.button-next.next
                        %i.fa.fa-chevron-right
                      .slide.active
                        = link_to "images/freemarket-main-slider.png", target: "blank" do 
                          = image_tag "freemarket-main-slider.png"
                      .slide
                        = link_to "images/freemarket-item.png", target: "blank" do 
                          = image_tag "freemarket-item.png"
                      .slide
                        = link_to "images/freemarket-user-login.png", target: "blank" do 
                          = image_tag "freemarket-user-login.png"
                      .slide
                        = link_to "images/freemarket-user-registration.png", target: "blank" do 
                          = image_tag "freemarket-user-registration.png"
                      .slide
                        = link_to "images/freemarket-breadcrumbs.png", target: "blank" do 
                          = image_tag "freemarket-breadcrumbs.png"
              .work-comment-article
                %h4.work-comment-sec ★ 最終課題発表会で語ったこと
                .work-comment-content
                  %p.text-indent ・チーム開発に入る前は「早く学習をはじめた人と一緒にできるのか」「もっと勉強したほうが良いのでは？」という不安ばかりでした。しかし、実際は、他の人のコードを読んだり、どうしても再現したい機能に当たってもがいたりするなかで、力がついていくのだと実感しました。
                  %p.text-indent ・また、1日も欠かさずコンスタントにプログラミングに触れられているのは"どん欲"だったから、だと振り返りました。大好きなごはんや、たまにのゲーム、友人との約束など、生活を大きく変えなかったからこそ、日常のなかにプログラミングを取り込むことができたと思っています。
                  %p.text-indent ※発表用のスライドの雛形も担当させていただきました。
                .work-comment-content.flex
                  .flex-image
                    = link_to "images/Freemarket_Sample53b-slide1.png", target: "blank" do 
                      = image_tag "Freemarket_Sample53b-slide1.png"
                  .flex-image
                    = link_to "images/Freemarket_Sample53b-slide2.png", target: "blank" do 
                      = image_tag "Freemarket_Sample53b-slide2.png"

        %li.fadeInUp.grad-wrap
          %a.grad-trigger ポートフォリオサイト(当サイト)
          .work.grad-item
            .work-image
              = image_tag("portfolio-main.png", alt: "Portfolio")
            .work-comment
              .work-comment-article
                %h3.work-comment-title このポートフォリオサイト
                .work__ico-github
                  %i.fa.fa-github
                  = link_to "", "https://github.com/key0123456789/portfolio", class: "li-link", target: "blank"
                  %a GitHubソースコード
                .work-comment-content
                  %p 既存のさまざまなポートフォリオサイトから学び、自分なりにデザインを考えて作成しました。
                  %p さっぱりした自分の人柄に合うと考えて、白ベースにしました。
              .work-comment-article
                %h4.work-comment-sec こだわりポイント
                .work-comment-content.two-column
                  .two-column__left
                    %p.text-indent ・ずっと自力でつくってみたいと思っていたメールフォームを導入しました。なかなかメール送信できず苦労しましたが、あえて外部サービスに頼らずに実装できたことが自信になりました。
                    %p.text-indent ・JavaScriptやjQueryを用いて動きをつけて、少しでも飽きないようにと工夫しました。スクロール時にフェイドインしたり、「続きを読む」形式でコンテンツが広がる仕組みにしたり、ページトップにスクロールするボタンを設置したり、動きをつけたことでその分リッチさは上げられたのではないかと思います。
                  .two-column__right
                    = link_to "images/portfolio-contact.png", target: "blank", class: "guide-image" do 
                      = image_tag "portfolio-contact.gif"
              .work-comment-article
                %h4.work-comment-sec 開発の状況
                .work-comment-content
                  %a.subheading 開発環境
                  %p Ruby / Ruby on Rails / Github / Heroku / Visual Studio Code
                  %a.subheading 使用したGem
                  %p ・letter_opener_web： 開発時のメール送信機能の確認
                  %p ・figaro： 定数の管理

        %li.fadeInUp.grad-wrap
          %a.grad-trigger タスク管理アプリ「Antask」
          .work.grad-item
            .work-image
              = image_tag("antask.png", alt: "Antask")
            .work-comment
              .work-comment-article
                %h3.work-comment-title タスク管理アプリ「Antask」
                .work__ico-github
                  %i.fa.fa-github
                  = link_to "", "https://github.com/key0123456789/antask", class: "li-link", target: "blank"
                  %a GitHubソースコード
                .work-comment-content
                  %p CRUDを網羅したアプリとして練習のために作成しました。
                  %p 独学で使用した『現場で使える Ruby on Rails 5 速習実践ガイド』を参考に作成しています。
              .work-comment-article
                %h4.work-comment-sec 開発の所感
                .work-comment-content
                  %a slimやBootstrapなど、いままで触れてこなかったものを使いながら作成したため、新鮮な気持ちで取り組むことができ、良い経験になりました。
                  %a 新しいことを取り入れながら、自分のできること、考えられることの幅を増やしていきたいと思いました。

        %li.fadeInUp.grad-wrap
          %a.grad-trigger チャットアプリ「Chat Space」
          .work.grad-item
            .work-image
              = image_tag("chat-space.png", alt: "")
            .work-comment
              .work-comment-article
                = link_to "http://3.114.41.7/", target: "blank", class: "blank-link" do
                  %h3.work-comment-title チャットアプリ「Chat Space」
                .work__ico-github
                  %i.fa.fa-github
                  = link_to "", "https://github.com/key0123456789/chat-space", class: "li-link", target: "blank"
                  %a GitHubソースコード
                .work-comment-content
                  %p グループチャットのできるアプリです。
                  %p ユーザーがグループを作成し、そこに他のユーザーを検索し招待することができます。
                  %p スクールのカリキュラムを参考に作成しています。

        %li.fadeInUp.grad-wrap
          %a.grad-trigger Others： 得意なこと ＆ 好きなこと
          .work.grad-item
            .work-comment
              .work-comment-content.flex
                .flex-image
                  = link_to "images/slide02.png", target: "blank" do 
                    = image_tag "slide02.png"
                .flex-image
                  = link_to "images/slide05.png", target: "blank" do 
                    = image_tag "slide05.png"
                .flex-image
                  = link_to "images/slide03.png", target: "blank" do 
                    = image_tag "slide03.png"
                .flex-image
                  = link_to "images/slide01.png", target: "blank" do 
                    = image_tag "slide01.png"
            .work-comment
              .work-comment-article
                %h3.work-comment-title スライドデザイン
              .work-comment-article
                %h4.work-comment-sec ★ スライド作成から学んだこと
                .work-comment-content
                  %p.text-indent ・スライド作成を通して感じたのは、わかりやすいとはなにか、どうやったら伝わるかを考えるのが好きだということ！　そして、自分の知識や経験で作り上げたものを喜んでもらえることがうれしく、もっとさまざまなことを勉強したいと考えるようになりました。
                  %p.text-indent ・現職では、わずかな指定を除きデザインを一任されています。直属の先輩もいない環境で試行錯誤しながらクオリティを高めました。
                  %p.text-indent ・洗練した読みやすい資料を心がけ、単位より数字を一回り大きくする、要素のカタマリをわかりやすくする、適度な余白をとるといった工夫をしていました。

    .content.cover
      .contact#contact
        .contact__title Contact
        .contact__ico
          %ul
            %li.contact__ico-mail
              %i.fa.fa-envelope-square
              %a Mail
            %li.contact__ico-github
              %i.fa.fa-github
              = link_to "", "https://github.com/key0123456789", class: "li-link", target: "blank"
              %a GitHub
            %li.contact__ico-twitter
              %i.fa.fa-twitter
              = link_to "", "https://twitter.com/key_it6", class: "li-link", target: "blank"
              %a twitter
            %li.contact__ico-qiita
              %i.fa.fa-search
              = link_to "", "https://qiita.com/key_it6", class: "li-link", target: "blank"
              %a Qiita
        = render partial: 'contact', locals: {message: @message}

  %footer &copy; 2019 Shoko Iwasaki
  %a.back-to-top{href: "#"}
